In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os
import json

In [229]:
train_ops = pd.read_csv('data/train/train_flag.csv')
test_ops = pd.read_csv('data/test/test_flag.csv')
# acc_data = pd.read_json('data/train/accounts_data_train.json')
# enq_data = pd.read_json('data/train/enquiry_data_train.json')

In [3]:
with open('data/train/accounts_data_train.json', 'r') as f:
	accounts = json.loads(f.read())

In [4]:
accounts[0]

[{'credit_type': 'Consumer credit',
  'loan_amount': 272745.0,
  'amount_overdue': 0.0,
  'open_date': '2018-09-22',
  'closed_date': '2020-02-22',
  'payment_hist_string': '000000000000000000000010000000000000000000000000000',
  'uid': 'AAA09044550'},
 {'credit_type': 'Consumer credit',
  'loan_amount': 4500.0,
  'amount_overdue': 0.0,
  'open_date': '2018-03-08',
  'closed_date': '2019-07-25',
  'payment_hist_string': '000000000000000014044000000000000000000000000000',
  'uid': 'AAA09044550'}]

In [5]:
len('000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000')

123

In [6]:
string = '000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000017047077107137167197227257287317347377407437467497527557587617647677707737767797827857887917000000000000'
string = [string[i:i+3] for i in range(0, len(string), 3)]

In [7]:
string[41:45]

['017', '047', '077', '107']

In [ ]:
# loading all training data

with open('data/train/accounts_data_train.json', 'r') as f:
	accounts = json.loads(f.read())

accounts = [item for data in accounts for item in data]
acc_data = pd.DataFrame(accounts)

with open('data/train/enquiry_data_train.json', 'r') as f:
	enquiry = json.loads(f.read())

enquiry = [item for data in enquiry for item in data]
enq_data = pd.DataFrame(enquiry)

In [230]:
# loading all testing data

with open('data/test/accounts_data_test.json', 'r') as f:
	accounts_t = json.loads(f.read())

accounts_t = [item for data in accounts_t for item in data]
acc_data_t = pd.DataFrame(accounts_t)

with open('data/test/enquiry_data_test.json', 'r') as f:
	enquiry_t = json.loads(f.read())

enquiry_t = [item for data in enquiry_t for item in data]
enq_data_t = pd.DataFrame(enquiry_t)

In [232]:
acc_data.columns, enq_data.columns, acc_data_t.columns, enq_data_t.columns

(Index(['credit_type', 'loan_amount', 'amount_overdue', 'open_date',
        'closed_date', 'payment_hist_string', 'uid'],
       dtype='object'),
 Index(['enquiry_type', 'enquiry_amt', 'enquiry_date', 'uid'], dtype='object'),
 Index(['credit_type', 'loan_amount', 'amount_overdue', 'open_date',
        'closed_date', 'payment_hist_string', 'uid'],
       dtype='object'),
 Index(['enquiry_type', 'enquiry_amt', 'enquiry_date', 'uid'], dtype='object'))

In [10]:
acc_data.head(10)

,credit_type,loan_amount,amount_overdue,open_date,closed_date,payment_hist_string,uid
0,Consumer credit,272745.000,0.0,2018-09-22,2020-02-22,0000000000000000000000100000000000000000000000...,AAA09044550
1,Consumer credit,4500.000,0.0,2018-03-08,2019-07-25,000000000000000014044000000000000000000000000000,AAA09044550
2,Credit card,80996.445,0.0,2020-06-29,NaN,000000000000000000,AAA10545297
3,Consumer credit,43771.500,0.0,2020-06-09,2020-09-09,000000000,AAA14112888
4,Credit card,10480.500,0.0,2014-09-10,NaN,0000000000000000000000000000000000000000000000...,AAA20326915
5,Consumer credit,46696.500,0.0,2016-11-20,2017-10-06,000000000000000000000000000000,AAA20326915
6,Credit card,0.000,0.0,2014-09-10,2018-08-30,0000000000000000000000000000000000000000000000...,AAA20326915
7,Consumer credit,117000.000,0.0,2018-02-04,2018-05-06,000000000,AAA20326915
8,Consumer credit,90000.000,0.0,2020-03-12,2020-04-12,000,AAA20326915
9,Consumer credit,235800.000,0.0,2020-03-29,2020-05-13,000,AAA20326915

In [11]:
enq_data.head(10)

,enquiry_type,enquiry_amt,enquiry_date,uid
0,Interbank credit,168839,2020-11-08,AAA08065248
1,Mobile operator loan,268392,2020-09-20,AAA08065248
2,Mobile operator loan,36082,2020-06-19,AAA08065248
3,Interbank credit,180467,2019-10-22,AAA08065248
4,Cash loan (non-earmarked),227459,2020-05-24,AAA08065248
5,Mortgage,44841,2019-11-03,AAA08065248
6,Revolving loans,364751,2020-02-26,AAA08065248
7,Interbank credit,127618,2020-10-04,AAA08065248
8,Loan for purchase of shares (margin lending),315591,2019-06-12,AAA08065248
9,Revolving loans,169056,2019-03-01,AAA08065248

In [176]:
acc_data[acc_data['closed_date'].isna()]

,credit_type,loan_amount,amount_overdue,open_date,closed_date,payment_hist_string,uid
2,Credit card,80996.445,0.0,2020-06-29,NaN,000000000000000000,AAA10545297
4,Credit card,10480.500,0.0,2014-09-10,NaN,0000000000000000000000000000000000000000000000...,AAA20326915
10,Consumer credit,46620.000,0.0,2020-06-22,NaN,000000000000000000,AAA20326915
11,Credit card,45000.000,0.0,2020-06-28,NaN,000000000000000000,AAA20326915
12,Consumer credit,687150.000,0.0,2020-10-10,NaN,000000,AAA31604840
...,...,...,...,...,...,...,...
1245297,Consumer credit,3375000.000,73818.0,2017-08-05,NaN,0000000000000000000000000000000000000000000000...,ZZZ79008454
1245298,Credit card,121500.000,0.0,2020-01-09,NaN,000000000000000000000000000000000,ZZZ81253108
1245299,Consumer credit,234000.000,0.0,2019-04-22,NaN,0000000000000180480000000000000000000000000000...,ZZZ81253108
1245301,Consumer credit,2452500.000,0.0,2020-01-05,NaN,000000000000000000000000000000000000,ZZZ81253108
1245308,Consumer credit,24997.500,0.0,2020-09-19,NaN,000000000,ZZZ93377613

In [13]:
enq_data.isna().sum()

enquiry_type    0
enquiry_amt     0
enquiry_date    0
uid             0
dtype: int64

In [14]:
acc_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1245310 entries, 0 to 1245309
Data columns (total 7 columns):
 #   Column               Non-Null Count    Dtype
---  ------               --------------    -----
 0   credit_type          1245310 non-null  object
 1   loan_amount          1245307 non-null  float64
 2   amount_overdue       1245310 non-null  float64
 3   open_date            1245310 non-null  object
 4   closed_date          782275 non-null   object
 5   payment_hist_string  1245310 non-null  object
 6   uid                  1245310 non-null  object
dtypes: float64(2), object(5)
memory usage: 66.5+ MB

In [15]:
enq_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1909926 entries, 0 to 1909925
Data columns (total 4 columns):
 #   Column        Dtype
---  ------        -----
 0   enquiry_type  object
 1   enquiry_amt   int64
 2   enquiry_date  object
 3   uid           object
dtypes: int64(1), object(3)
memory usage: 58.3+ MB

<h1><b>Data Preparation</b></h1>

In [16]:
# acc_data[acc_data['amount_overdue']>0].loc[461,'payment_hist_string']

In [235]:
# split payment history into delayed day values

def payment_string_split(x):
	return [int(x[i:i+3]) for i in range(0, len(x), 3)]

acc_data['payment_hist_string'] = acc_data['payment_hist_string'].apply(payment_string_split)
acc_data_t['payment_hist_string'] = acc_data_t['payment_hist_string'].apply(payment_string_split)
acc_data.head()

,credit_type,loan_amount,amount_overdue,open_date,closed_date,payment_hist_string,uid
0,Consumer credit,272745.000,0.0,2018-09-22,2020-02-22,"[0, 0, 0, 0, 0, 0, 0, 10, 0, 0, 0, 0, 0, 0, 0,...",AAA09044550
1,Consumer credit,4500.000,0.0,2018-03-08,2019-07-25,"[0, 0, 0, 0, 0, 14, 44, 0, 0, 0, 0, 0, 0, 0, 0...",AAA09044550
2,Credit card,80996.445,0.0,2020-06-29,NaN,"[0, 0, 0, 0, 0, 0]",AAA10545297
3,Consumer credit,43771.500,0.0,2020-06-09,2020-09-09,"[0, 0, 0]",AAA14112888
4,Credit card,10480.500,0.0,2014-09-10,NaN,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",AAA20326915

In [236]:
acc_data_t.head()

,credit_type,loan_amount,amount_overdue,open_date,closed_date,payment_hist_string,uid
0,Consumer credit,31630.50,0.0,2014-03-30,2014-11-29,"[0, 0, 0, 0, 0, 0, 0, 0]",AAA14437029
1,Consumer credit,14613.39,0.0,2014-06-01,2014-11-03,"[0, 0, 0, 0, 0]",AAA14437029
2,Credit card,54000.00,0.0,2015-12-13,2019-09-21,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",AAA14437029
3,Consumer credit,27076.50,0.0,2015-11-11,2016-11-24,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]",AAA14437029
4,Credit card,225000.00,0.0,2017-07-15,2019-11-14,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",AAA14437029

In [18]:
pd.isna(acc_data['closed_date'].iloc[0])

False

In [19]:
acc_data[acc_data['amount_overdue'] != 0].head()

,credit_type,loan_amount,amount_overdue,open_date,closed_date,payment_hist_string,uid
461,Consumer credit,82768.50,13.50,2015-07-14,NaN,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",AAG39505501
654,Consumer credit,81567.00,895.50,2014-04-20,NaN,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",AAI59241140
768,Credit card,450000.00,141.12,2018-10-15,NaN,"[0, 0, 0, 0, 5, 35, 65, 95, 125, 155, 185, 215...",AAK06231963
1510,Consumer credit,42178.50,13.50,2018-12-14,NaN,"[0, 0, 18, 48, 78, 108, 138, 168, 198, 228, 25...",AAT99861828
3124,Consumer credit,92663.64,0.72,2017-01-01,NaN,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",ABO13446209

In [237]:
# use the delayed days values to fill empties in close_date

today_date = pd.Timestamp.today().date()

def close_date_filler(item):
	if(pd.isna(item['closed_date'])):
		delta = len(item['payment_hist_string'])
		current_date = pd.to_datetime(item['open_date'])
		overdue_flag = item['amount_overdue']!=0
		if(overdue_flag):
			item['closed_date'] = str(today_date)
		else:
			item['closed_date'] = str((current_date + pd.DateOffset(months=delta)).date())
	return item['closed_date']

In [21]:
acc_data.iloc[461]

credit_type                                              Consumer credit
loan_amount                                                      82768.5
amount_overdue                                                      13.5
open_date                                                     2015-07-14
closed_date                                                          NaN
payment_hist_string    [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
uid                                                          AAG39505501
Name: 461, dtype: object

In [238]:
# z = acc_data.iloc[461]
# z = close_date_filler(z)
# z, len(z['payment_hist_string'])

acc_data['closed_date'] = acc_data[['closed_date', 'open_date', 'payment_hist_string', 'amount_overdue']].apply(close_date_filler, axis=1)
acc_data_t['closed_date'] = acc_data_t[['closed_date', 'open_date', 'payment_hist_string', 'amount_overdue']].apply(close_date_filler, axis=1)
acc_data.head(10)

,credit_type,loan_amount,amount_overdue,open_date,closed_date,payment_hist_string,uid
0,Consumer credit,272745.000,0.0,2018-09-22,2020-02-22,"[0, 0, 0, 0, 0, 0, 0, 10, 0, 0, 0, 0, 0, 0, 0,...",AAA09044550
1,Consumer credit,4500.000,0.0,2018-03-08,2019-07-25,"[0, 0, 0, 0, 0, 14, 44, 0, 0, 0, 0, 0, 0, 0, 0...",AAA09044550
2,Credit card,80996.445,0.0,2020-06-29,2020-12-29,"[0, 0, 0, 0, 0, 0]",AAA10545297
3,Consumer credit,43771.500,0.0,2020-06-09,2020-09-09,"[0, 0, 0]",AAA14112888
4,Credit card,10480.500,0.0,2014-09-10,2021-01-10,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",AAA20326915
5,Consumer credit,46696.500,0.0,2016-11-20,2017-10-06,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]",AAA20326915
6,Credit card,0.000,0.0,2014-09-10,2018-08-30,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",AAA20326915
7,Consumer credit,117000.000,0.0,2018-02-04,2018-05-06,"[0, 0, 0]",AAA20326915
8,Consumer credit,90000.000,0.0,2020-03-12,2020-04-12,[0],AAA20326915
9,Consumer credit,235800.000,0.0,2020-03-29,2020-05-13,[0],AAA20326915

In [239]:
acc_data_t.head()

,credit_type,loan_amount,amount_overdue,open_date,closed_date,payment_hist_string,uid
0,Consumer credit,31630.50,0.0,2014-03-30,2014-11-29,"[0, 0, 0, 0, 0, 0, 0, 0]",AAA14437029
1,Consumer credit,14613.39,0.0,2014-06-01,2014-11-03,"[0, 0, 0, 0, 0]",AAA14437029
2,Credit card,54000.00,0.0,2015-12-13,2019-09-21,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",AAA14437029
3,Consumer credit,27076.50,0.0,2015-11-11,2016-11-24,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]",AAA14437029
4,Credit card,225000.00,0.0,2017-07-15,2019-11-14,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",AAA14437029

In [240]:
acc_data.iloc[0], enq_data[(enq_data['uid'] == 'AAA09044550') & (enq_data['enquiry_type'] == 'Consumer credit')]

(credit_type                                              Consumer credit
 loan_amount                                                     272745.0
 amount_overdue                                                       0.0
 open_date                                                     2018-09-22
 closed_date                                                   2020-02-22
 payment_hist_string    [0, 0, 0, 0, 0, 0, 0, 10, 0, 0, 0, 0, 0, 0, 0,...
 uid                                                          AAA09044550
 Name: 0, dtype: object,
        enquiry_type  enquiry_amt enquiry_date          uid
 28  Consumer credit       111000   2020-12-11  AAA09044550)

In [241]:
acc_data.to_csv('account_data_cleaned.csv')
acc_data_t.to_csv('account_data_cleaned_t.csv')

In [251]:
acc_data = pd.read_csv('account_data_cleaned.csv')
acc_data = acc_data.drop(columns=['Unnamed: 0'], axis=0)

acc_data_t = pd.read_csv('account_data_cleaned_t.csv')
acc_data_t = acc_data_t.drop(columns=['Unnamed: 0'], axis=0)

acc_data.head()

,credit_type,loan_amount,amount_overdue,open_date,closed_date,payment_hist_string,uid
0,Consumer credit,272745.000,0.0,2018-09-22,2020-02-22,"[0, 0, 0, 0, 0, 0, 0, 10, 0, 0, 0, 0, 0, 0, 0,...",AAA09044550
1,Consumer credit,4500.000,0.0,2018-03-08,2019-07-25,"[0, 0, 0, 0, 0, 14, 44, 0, 0, 0, 0, 0, 0, 0, 0...",AAA09044550
2,Credit card,80996.445,0.0,2020-06-29,2020-12-29,"[0, 0, 0, 0, 0, 0]",AAA10545297
3,Consumer credit,43771.500,0.0,2020-06-09,2020-09-09,"[0, 0, 0]",AAA14112888
4,Credit card,10480.500,0.0,2014-09-10,2021-01-10,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",AAA20326915

In [252]:
acc_data.shape

(1245310, 7)

In [253]:
acc_data.dtypes

credit_type             object
loan_amount            float64
amount_overdue         float64
open_date               object
closed_date             object
payment_hist_string     object
uid                     object
dtype: object

In [254]:
acc_data.isna().sum()

credit_type            0
loan_amount            3
amount_overdue         0
open_date              0
closed_date            0
payment_hist_string    0
uid                    0
dtype: int64

In [255]:
acc_data = acc_data.dropna(axis=0)

In [256]:
# necessary adjustment, if dataset is loaded from a file, lists are converted to strings

acc_data['payment_hist_string'] = acc_data['payment_hist_string'].apply(lambda x: eval(x))
acc_data_t['payment_hist_string'] = acc_data_t['payment_hist_string'].apply(lambda x: eval(x))

acc_data['payment_hist_string'].iloc[0]

[0, 0, 0, 0, 0, 0, 0, 10, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [257]:
acc_data.head()

,credit_type,loan_amount,amount_overdue,open_date,closed_date,payment_hist_string,uid
0,Consumer credit,272745.000,0.0,2018-09-22,2020-02-22,"[0, 0, 0, 0, 0, 0, 0, 10, 0, 0, 0, 0, 0, 0, 0,...",AAA09044550
1,Consumer credit,4500.000,0.0,2018-03-08,2019-07-25,"[0, 0, 0, 0, 0, 14, 44, 0, 0, 0, 0, 0, 0, 0, 0...",AAA09044550
2,Credit card,80996.445,0.0,2020-06-29,2020-12-29,"[0, 0, 0, 0, 0, 0]",AAA10545297
3,Consumer credit,43771.500,0.0,2020-06-09,2020-09-09,"[0, 0, 0]",AAA14112888
4,Credit card,10480.500,0.0,2014-09-10,2021-01-10,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",AAA20326915

In [258]:
enq_data.head()

                enquiry_type  enquiry_amt enquiry_date          uid
0           Interbank credit       168839   2020-11-08  AAA08065248
1       Mobile operator loan       268392   2020-09-20  AAA08065248
2       Mobile operator loan        36082   2020-06-19  AAA08065248
3           Interbank credit       180467   2019-10-22  AAA08065248
4  Cash loan (non-earmarked)       227459   2020-05-24  AAA08065248

In [259]:
train_ops.head()

           uid NAME_CONTRACT_TYPE  TARGET
0  XDA69787158         Cash loans       0
1  BSE47789733         Cash loans       0
2  NTJ92213825         Cash loans       0
3  TCQ47571695         Cash loans       0
4  WJZ68772744         Cash loans       0

In [260]:
enq_data.isna().sum()

enquiry_type    0
enquiry_amt     0
enquiry_date    0
uid             0
dtype: int64

In [261]:
acc_data[['open_date', 'closed_date']] = acc_data[['open_date', 'closed_date']].apply(pd.to_datetime)
acc_data_t[['open_date', 'closed_date']] = acc_data_t[['open_date', 'closed_date']].apply(pd.to_datetime)

enq_data['enquiry_date'] = pd.to_datetime(enq_data['enquiry_date'])
enq_data_t['enquiry_date'] = pd.to_datetime(enq_data_t['enquiry_date'])

acc_data['open_date'].info(), enq_data['enquiry_date'].info()

<class 'pandas.core.series.Series'>
Index: 1245307 entries, 0 to 1245309
Series name: open_date
Non-Null Count    Dtype
--------------    -----
1245307 non-null  datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 19.0 MB
<class 'pandas.core.series.Series'>
RangeIndex: 1909926 entries, 0 to 1909925
Series name: enquiry_date
Non-Null Count    Dtype
--------------    -----
1909926 non-null  datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 14.6 MB

(None, None)

In [262]:
# group complete accounts data based on unique 'UIDs'

acc_grouped = acc_data.groupby('uid').agg(list)

acc_grouped_t = acc_data_t.groupby('uid').agg(list)

In [263]:
acc_grouped.head()

,credit_type,loan_amount,amount_overdue,open_date,closed_date,payment_hist_string
uid,,,,,,
AAA09044550,"[Consumer credit, Consumer credit]","[272745.0, 4500.0]","[0.0, 0.0]","[2018-09-22 00:00:00, 2018-03-08 00:00:00]","[2020-02-22 00:00:00, 2019-07-25 00:00:00]","[[0, 0, 0, 0, 0, 0, 0, 10, 0, 0, 0, 0, 0, 0, 0..."
AAA10545297,[Credit card],[80996.445],[0.0],[2020-06-29 00:00:00],[2020-12-29 00:00:00],"[[0, 0, 0, 0, 0, 0]]"
AAA14112888,[Consumer credit],[43771.5],[0.0],[2020-06-09 00:00:00],[2020-09-09 00:00:00],"[[0, 0, 0]]"
AAA20326915,"[Credit card, Consumer credit, Credit card, Co...","[10480.5, 46696.5, 0.0, 117000.0, 90000.0, 235...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]","[2014-09-10 00:00:00, 2016-11-20 00:00:00, 201...","[2021-01-10 00:00:00, 2017-10-06 00:00:00, 201...","[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,..."
AAA31604840,"[Consumer credit, Consumer credit, Consumer cr...","[687150.0, 41845.5, 468000.0, 304965.0, 90000.0]","[0.0, 0.0, 0.0, 0.0, 0.0]","[2020-10-10 00:00:00, 2017-02-15 00:00:00, 201...","[2020-12-10 00:00:00, 2018-02-28 00:00:00, 202...","[[0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],..."

In [264]:
# pivot_df = pd.pivot_table(acc_data, index='uid', aggfunc=list)
# pivot_df.head(10)

In [265]:
# group complete enquiry data based on unique 'UIDs'

enq_grouped = enq_data.groupby('uid').agg(list)

enq_grouped_t = enq_data_t.groupby('uid').agg(list)

In [266]:
enq_grouped.head()

,enquiry_type,enquiry_amt,enquiry_date
uid,,,
AAA08065248,"[Interbank credit, Mobile operator loan, Mobil...","[168839, 268392, 36082, 180467, 227459, 44841,...","[2020-11-08 00:00:00, 2020-09-20 00:00:00, 202..."
AAA09044550,"[Cash loans, Interbank credit, Car loan, Revol...","[120000, 197000, 127000, 94000, 120000, 174000...","[2019-08-19 00:00:00, 2019-11-01 00:00:00, 202..."
AAA10545297,"[Revolving loans, Consumer credit, Interbank c...","[94000, 192000, 24000, 5000, 58000, 65000, 900...","[2019-04-22 00:00:00, 2020-01-04 00:00:00, 202..."
AAA14112888,"[Loan for purchase of shares (margin lending),...","[39000, 110000, 62000, 171000, 185000, 45000, ...","[2019-11-09 00:00:00, 2020-04-03 00:00:00, 202..."
AAA20326915,[Mobile operator loan],[66000],[2020-08-14 00:00:00]

<h1><b>Feature Engineering</b></h1>

In [273]:
combined_data = acc_grouped.merge(enq_grouped, how='inner', on='uid') \
				.merge(train_ops, how='inner', on='uid')

combined_data_t = acc_grouped_t.merge(enq_grouped_t, how='inner', on='uid') \
				.merge(test_ops, how='inner', on='uid')

In [274]:
combined_data.head()

,uid,credit_type,loan_amount,amount_overdue,open_date,closed_date,payment_hist_string,enquiry_type,enquiry_amt,enquiry_date,NAME_CONTRACT_TYPE,TARGET
0,AAA09044550,"[Consumer credit, Consumer credit]","[272745.0, 4500.0]","[0.0, 0.0]","[2018-09-22 00:00:00, 2018-03-08 00:00:00]","[2020-02-22 00:00:00, 2019-07-25 00:00:00]","[[0, 0, 0, 0, 0, 0, 0, 10, 0, 0, 0, 0, 0, 0, 0...","[Cash loans, Interbank credit, Car loan, Revol...","[120000, 197000, 127000, 94000, 120000, 174000...","[2019-08-19 00:00:00, 2019-11-01 00:00:00, 202...",Cash loans,0
1,AAA10545297,[Credit card],[80996.445],[0.0],[2020-06-29 00:00:00],[2020-12-29 00:00:00],"[[0, 0, 0, 0, 0, 0]]","[Revolving loans, Consumer credit, Interbank c...","[94000, 192000, 24000, 5000, 58000, 65000, 900...","[2019-04-22 00:00:00, 2020-01-04 00:00:00, 202...",Cash loans,0
2,AAA14112888,[Consumer credit],[43771.5],[0.0],[2020-06-09 00:00:00],[2020-09-09 00:00:00],"[[0, 0, 0]]","[Loan for purchase of shares (margin lending),...","[39000, 110000, 62000, 171000, 185000, 45000, ...","[2019-11-09 00:00:00, 2020-04-03 00:00:00, 202...",Cash loans,0
3,AAA20326915,"[Credit card, Consumer credit, Credit card, Co...","[10480.5, 46696.5, 0.0, 117000.0, 90000.0, 235...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]","[2014-09-10 00:00:00, 2016-11-20 00:00:00, 201...","[2021-01-10 00:00:00, 2017-10-06 00:00:00, 201...","[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...",[Mobile operator loan],[66000],[2020-08-14 00:00:00],Cash loans,0
4,AAA31604840,"[Consumer credit, Consumer credit, Consumer cr...","[687150.0, 41845.5, 468000.0, 304965.0, 90000.0]","[0.0, 0.0, 0.0, 0.0, 0.0]","[2020-10-10 00:00:00, 2017-02-15 00:00:00, 201...","[2020-12-10 00:00:00, 2018-02-28 00:00:00, 202...","[[0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],...","[Consumer credit, Loan for purchase of shares ...","[179000, 195000, 127000, 16000, 195000, 190000...","[2018-08-25 00:00:00, 2019-01-21 00:00:00, 202...",Cash loans,0

In [275]:
combined_data.shape, combined_data_t.shape

((223917, 12), (39572, 11))

In [276]:
unique_vals = np.unique(np.concatenate(combined_data['credit_type'].values))
unique_vals

array(['Another type of loan', 'Car loan', 'Cash loan (non-earmarked)',
       'Consumer credit', 'Credit card', 'Interbank credit',
       'Loan for business development',
       'Loan for purchase of shares (margin lending)',
       'Loan for the purchase of equipment',
       'Loan for working capital replenishment', 'Microloan',
       'Mobile operator loan', 'Mortgage', 'Real estate loan',
       'Unknown type of loan'], dtype='<U44')

<h3>Binary Encoding of Nominal Features</h3>

In [38]:
from sklearn.preprocessing import MultiLabelBinarizer

In [277]:
# adding binary encoded values for credit and enquiry types with prefix

binarizer_array = dict()
nominal_array = {'credit_type':'c', 'enquiry_type':'e'}
for col, pre in nominal_array.items():
	mlb = MultiLabelBinarizer()

	# encoding training data
	binarized_data = mlb.fit_transform(combined_data[col])
	binarized_df = pd.DataFrame(binarized_data, columns=mlb.classes_)
	binarized_df.columns = [f'{pre}_{col}' for col in binarized_df.columns]
	combined_data = pd.concat([combined_data, binarized_df], axis=1)

	# encoding testing data
	binarized_data = mlb.transform(combined_data_t[col])
	binarized_df = pd.DataFrame(binarized_data, columns=mlb.classes_)
	binarized_df.columns = [f'{pre}_{col}' for col in binarized_df.columns]
	combined_data_t = pd.concat([combined_data_t, binarized_df], axis=1)

	binarizer_array[col] = mlb
	print('done')

done
done

In [278]:
# acc_grouped['credit_type'].iloc[0]
# enq_grouped['enquiry_type'].iloc[0]
combined_data.shape, combined_data_t.shape

((223917, 44), (39572, 43))

In [41]:
combined_data.columns

Index(['uid', 'credit_type', 'loan_amount', 'amount_overdue', 'open_date',
       'closed_date', 'payment_hist_string', 'enquiry_type', 'enquiry_amt',
       'enquiry_date', 'NAME_CONTRACT_TYPE', 'TARGET',
       'c_Another type of loan', 'c_Car loan', 'c_Cash loan (non-earmarked)',
       'c_Consumer credit', 'c_Credit card', 'c_Interbank credit',
       'c_Loan for business development',
       'c_Loan for purchase of shares (margin lending)',
       'c_Loan for the purchase of equipment',
       'c_Loan for working capital replenishment', 'c_Microloan',
       'c_Mobile operator loan', 'c_Mortgage', 'c_Real estate loan',
       'c_Unknown type of loan', 'e_Another type of loan', 'e_Car loan',
       'e_Cash loan (non-earmarked)', 'e_Cash loans', 'e_Consumer credit',
       'e_Credit card', 'e_Interbank credit',
       'e_Loan for business development',
       'e_Loan for purchase of shares (margin lending)',
       'e_Loan for the purchase of equipment',
       'e_Loan for working capital replenishment', 'e_Microloan',
       'e_Mobile operator loan', 'e_Mortgage', 'e_Real estate loan',
       'e_Revolving loans', 'e_Unknown type of loan'],
      dtype='object')

In [42]:
combined_data['credit_type'].iloc[125], combined_data['enquiry_type'].iloc[125], combined_data.iloc[125].items

(['Consumer credit',
  'Consumer credit',
  'Credit card',
  'Consumer credit',
  'Credit card',
  'Consumer credit',
  'Consumer credit',
  'Credit card',
  'Consumer credit'],
 ['Revolving loans',
  'Loan for business development',
  'Mortgage',
  'Another type of loan',
  'Mobile operator loan',
  'Loan for the purchase of equipment',
  'Revolving loans',
  'Credit card',
  'Revolving loans',
  'Microloan',
  'Cash loans',
  'Revolving loans',
  'Microloan',
  'Real estate loan',
  'Consumer credit',
  'Loan for business development',
  'Another type of loan',
  'Real estate loan',
  'Loan for purchase of shares (margin lending)',
  'Real estate loan',
  'Cash loan (non-earmarked)'],
 <bound method Series.items of uid                                                                                     AAJ54183245
 credit_type                                       [Consumer credit, Consumer credit, Credit card...
 loan_amount                                       [37856.34, 137475.0, 13500.0, 26865.0, 225000....
 amount_overdue                                        [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]
 open_date                                         [2013-04-19 00:00:00, 2020-03-21 00:00:00, 201...
 closed_date                                       [2013-08-20 00:00:00, 2020-07-19 00:00:00, 201...
 payment_hist_string                               [[0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0, 0, 0...
 enquiry_type                                      [Revolving loans, Loan for business developmen...
 enquiry_amt                                       [102000, 120000, 188000, 146000, 77000, 38000,...
 enquiry_date                                      [2020-06-25 00:00:00, 2019-03-19 00:00:00, 201...
 NAME_CONTRACT_TYPE                                                                       Cash loans
 TARGET                                                                                            0
 c_Another type of loan                                                                            0
 c_Car loan                                                                                        0
 c_Cash loan (non-earmarked)                                                                       0
 c_Consumer credit                                                                                 1
 c_Credit card                                                                                     1
 c_Interbank credit                                                                                0
 c_Loan for business development                                                                   0
 c_Loan for purchase of shares (margin lending)                                                    0
 c_Loan for the purchase of equipment                                                              0
 c_Loan for working capital replenishment                                                          0
 c_Microloan                                                                                       0
 c_Mobile operator loan                                                                            0
 c_Mortgage                                                                                        0
 c_Real estate loan                                                                                0
 c_Unknown type of loan                                                                            0
 e_Another type of loan                                                                            1
 e_Car loan                                                                                        0
 e_Cash loan (non-earmarked)                                                                       1
 e_Cash loans                                                                                      1
 e_Consumer credit                                                                                 1
 e_Credit card                                                                                     1
 e_Interbank credit                                                                                0
 e_Loan for business development                                                                   1
 e_Loan for purchase of shares (margin lending)                                                    1
 e_Loan for the purchase of equipment                                                              1
 e_Loan for working capital replenishment                                                          0
 e_Microloan                                                                                       1
 e_Mobile operator loan                                                                            1
 e_Mortgage                                                                                        1
 e_Real estate loan                                                                                1
 e_Revolving loans                                                                                 1
 e_Unknown type of loan                                                                            0
 Name: 125, dtype: object>)

In [43]:
combined_data['NAME_CONTRACT_TYPE'].unique()

array(['Cash loans', 'Revolving loans'], dtype=object)

In [279]:
nct_bin = lambda x: 0 if x.lower()=='cash loans' else 1

nct_bin(combined_data['NAME_CONTRACT_TYPE'].iloc[0].lower()), nct_bin(combined_data['NAME_CONTRACT_TYPE'].iloc[15].lower())

(0, 1)

In [280]:
combined_data['NAME_CONTRACT_TYPE'] = combined_data['NAME_CONTRACT_TYPE'].apply(nct_bin)
combined_data_t['NAME_CONTRACT_TYPE'] = combined_data_t['NAME_CONTRACT_TYPE'].apply(nct_bin)

In [281]:
combined_data['NAME_CONTRACT_TYPE'].head(10)

0    0
1    0
2    0
3    0
4    0
5    0
6    0
7    0
8    0
9    0
Name: NAME_CONTRACT_TYPE, dtype: int64

In [282]:
combined_data.shape, combined_data_t.shape

((223917, 44), (39572, 43))

<h3>Mathematical Features From Numerical Data</h3>

In [47]:
combined_data['loan_amount'].head(10)

0                                   [272745.0, 4500.0]
1                                          [80996.445]
2                                            [43771.5]
3    [10480.5, 46696.5, 0.0, 117000.0, 90000.0, 235...
4     [687150.0, 41845.5, 468000.0, 304965.0, 90000.0]
5                                            [61762.5]
6    [50940.0, 225000.0, 729000.0, 46407.96, 117000...
7              [220375.8, 337500.0, 80721.0, 918450.0]
8                                 [110565.0, 116280.0]
9    [450000.0, 468000.0, 315000.0, 225000.0, 27846...
Name: loan_amount, dtype: object

In [283]:
def min_max_avg(x):
	amt_min = min(x)
	amt_max = max(x)
	amt_avg = sum(x)/len(x)
	return amt_min, amt_max, amt_avg

op = min_max_avg(combined_data['loan_amount'].iloc[0])
op

(4500.0, 272745.0, 138622.5)

In [284]:
# Min Max and Mean for Loan Amount

# train
combined_data[['loan_min', 'loan_max', 'loan_avg']] = combined_data['loan_amount'].apply(min_max_avg).apply(pd.Series)

# test
combined_data_t[['loan_min', 'loan_max', 'loan_avg']] = combined_data_t['loan_amount'].apply(min_max_avg).apply(pd.Series)

combined_data.head()

,uid,credit_type,loan_amount,amount_overdue,open_date,closed_date,payment_hist_string,enquiry_type,enquiry_amt,enquiry_date,...,e_Loan for working capital replenishment,e_Microloan,e_Mobile operator loan,e_Mortgage,e_Real estate loan,e_Revolving loans,e_Unknown type of loan,loan_min,loan_max,loan_avg
0,AAA09044550,"[Consumer credit, Consumer credit]","[272745.0, 4500.0]","[0.0, 0.0]","[2018-09-22 00:00:00, 2018-03-08 00:00:00]","[2020-02-22 00:00:00, 2019-07-25 00:00:00]","[[0, 0, 0, 0, 0, 0, 0, 10, 0, 0, 0, 0, 0, 0, 0...","[Cash loans, Interbank credit, Car loan, Revol...","[120000, 197000, 127000, 94000, 120000, 174000...","[2019-08-19 00:00:00, 2019-11-01 00:00:00, 202...",...,0,1,1,1,1,1,1,4500.000,272745.000,138622.500
1,AAA10545297,[Credit card],[80996.445],[0.0],[2020-06-29 00:00:00],[2020-12-29 00:00:00],"[[0, 0, 0, 0, 0, 0]]","[Revolving loans, Consumer credit, Interbank c...","[94000, 192000, 24000, 5000, 58000, 65000, 900...","[2019-04-22 00:00:00, 2020-01-04 00:00:00, 202...",...,0,0,0,0,0,1,1,80996.445,80996.445,80996.445
2,AAA14112888,[Consumer credit],[43771.5],[0.0],[2020-06-09 00:00:00],[2020-09-09 00:00:00],"[[0, 0, 0]]","[Loan for purchase of shares (margin lending),...","[39000, 110000, 62000, 171000, 185000, 45000, ...","[2019-11-09 00:00:00, 2020-04-03 00:00:00, 202...",...,1,0,1,0,0,0,1,43771.500,43771.500,43771.500
3,AAA20326915,"[Credit card, Consumer credit, Credit card, Co...","[10480.5, 46696.5, 0.0, 117000.0, 90000.0, 235...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]","[2014-09-10 00:00:00, 2016-11-20 00:00:00, 201...","[2021-01-10 00:00:00, 2017-10-06 00:00:00, 201...","[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...",[Mobile operator loan],[66000],[2020-08-14 00:00:00],...,0,0,1,0,0,0,0,0.000,235800.000,73949.625
4,AAA31604840,"[Consumer credit, Consumer credit, Consumer cr...","[687150.0, 41845.5, 468000.0, 304965.0, 90000.0]","[0.0, 0.0, 0.0, 0.0, 0.0]","[2020-10-10 00:00:00, 2017-02-15 00:00:00, 201...","[2020-12-10 00:00:00, 2018-02-28 00:00:00, 202...","[[0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],...","[Consumer credit, Loan for purchase of shares ...","[179000, 195000, 127000, 16000, 195000, 190000...","[2018-08-25 00:00:00, 2019-01-21 00:00:00, 202...",...,0,0,0,0,1,0,1,41845.500,687150.000,318392.100

In [285]:
# Min Max and Mean for Overdue Amount

combined_data[['due_min', 'due_max', 'due_avg']] = combined_data['amount_overdue'].apply(min_max_avg).apply(pd.Series)

combined_data_t[['due_min', 'due_max', 'due_avg']] = combined_data_t['amount_overdue'].apply(min_max_avg).apply(pd.Series)

combined_data.head()

,uid,credit_type,loan_amount,amount_overdue,open_date,closed_date,payment_hist_string,enquiry_type,enquiry_amt,enquiry_date,...,e_Mortgage,e_Real estate loan,e_Revolving loans,e_Unknown type of loan,loan_min,loan_max,loan_avg,due_min,due_max,due_avg
0,AAA09044550,"[Consumer credit, Consumer credit]","[272745.0, 4500.0]","[0.0, 0.0]","[2018-09-22 00:00:00, 2018-03-08 00:00:00]","[2020-02-22 00:00:00, 2019-07-25 00:00:00]","[[0, 0, 0, 0, 0, 0, 0, 10, 0, 0, 0, 0, 0, 0, 0...","[Cash loans, Interbank credit, Car loan, Revol...","[120000, 197000, 127000, 94000, 120000, 174000...","[2019-08-19 00:00:00, 2019-11-01 00:00:00, 202...",...,1,1,1,1,4500.000,272745.000,138622.500,0.0,0.0,0.0
1,AAA10545297,[Credit card],[80996.445],[0.0],[2020-06-29 00:00:00],[2020-12-29 00:00:00],"[[0, 0, 0, 0, 0, 0]]","[Revolving loans, Consumer credit, Interbank c...","[94000, 192000, 24000, 5000, 58000, 65000, 900...","[2019-04-22 00:00:00, 2020-01-04 00:00:00, 202...",...,0,0,1,1,80996.445,80996.445,80996.445,0.0,0.0,0.0
2,AAA14112888,[Consumer credit],[43771.5],[0.0],[2020-06-09 00:00:00],[2020-09-09 00:00:00],"[[0, 0, 0]]","[Loan for purchase of shares (margin lending),...","[39000, 110000, 62000, 171000, 185000, 45000, ...","[2019-11-09 00:00:00, 2020-04-03 00:00:00, 202...",...,0,0,0,1,43771.500,43771.500,43771.500,0.0,0.0,0.0
3,AAA20326915,"[Credit card, Consumer credit, Credit card, Co...","[10480.5, 46696.5, 0.0, 117000.0, 90000.0, 235...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]","[2014-09-10 00:00:00, 2016-11-20 00:00:00, 201...","[2021-01-10 00:00:00, 2017-10-06 00:00:00, 201...","[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...",[Mobile operator loan],[66000],[2020-08-14 00:00:00],...,0,0,0,0,0.000,235800.000,73949.625,0.0,0.0,0.0
4,AAA31604840,"[Consumer credit, Consumer credit, Consumer cr...","[687150.0, 41845.5, 468000.0, 304965.0, 90000.0]","[0.0, 0.0, 0.0, 0.0, 0.0]","[2020-10-10 00:00:00, 2017-02-15 00:00:00, 201...","[2020-12-10 00:00:00, 2018-02-28 00:00:00, 202...","[[0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],...","[Consumer credit, Loan for purchase of shares ...","[179000, 195000, 127000, 16000, 195000, 190000...","[2018-08-25 00:00:00, 2019-01-21 00:00:00, 202...",...,0,1,0,1,41845.500,687150.000,318392.100,0.0,0.0,0.0

In [286]:
combined_data[['enq_min', 'enq_max', 'enq_avg']] = combined_data['enquiry_amt'].apply(min_max_avg).apply(pd.Series)
combined_data_t[['enq_min', 'enq_max', 'enq_avg']] = combined_data_t['enquiry_amt'].apply(min_max_avg).apply(pd.Series)
combined_data.head()

,uid,credit_type,loan_amount,amount_overdue,open_date,closed_date,payment_hist_string,enquiry_type,enquiry_amt,enquiry_date,...,e_Unknown type of loan,loan_min,loan_max,loan_avg,due_min,due_max,due_avg,enq_min,enq_max,enq_avg
0,AAA09044550,"[Consumer credit, Consumer credit]","[272745.0, 4500.0]","[0.0, 0.0]","[2018-09-22 00:00:00, 2018-03-08 00:00:00]","[2020-02-22 00:00:00, 2019-07-25 00:00:00]","[[0, 0, 0, 0, 0, 0, 0, 10, 0, 0, 0, 0, 0, 0, 0...","[Cash loans, Interbank credit, Car loan, Revol...","[120000, 197000, 127000, 94000, 120000, 174000...","[2019-08-19 00:00:00, 2019-11-01 00:00:00, 202...",...,1,4500.000,272745.000,138622.500,0.0,0.0,0.0,5000.0,197000.0,102269.230769
1,AAA10545297,[Credit card],[80996.445],[0.0],[2020-06-29 00:00:00],[2020-12-29 00:00:00],"[[0, 0, 0, 0, 0, 0]]","[Revolving loans, Consumer credit, Interbank c...","[94000, 192000, 24000, 5000, 58000, 65000, 900...","[2019-04-22 00:00:00, 2020-01-04 00:00:00, 202...",...,1,80996.445,80996.445,80996.445,0.0,0.0,0.0,5000.0,192000.0,94071.428571
2,AAA14112888,[Consumer credit],[43771.5],[0.0],[2020-06-09 00:00:00],[2020-09-09 00:00:00],"[[0, 0, 0]]","[Loan for purchase of shares (margin lending),...","[39000, 110000, 62000, 171000, 185000, 45000, ...","[2019-11-09 00:00:00, 2020-04-03 00:00:00, 202...",...,1,43771.500,43771.500,43771.500,0.0,0.0,0.0,17000.0,185000.0,97666.666667
3,AAA20326915,"[Credit card, Consumer credit, Credit card, Co...","[10480.5, 46696.5, 0.0, 117000.0, 90000.0, 235...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]","[2014-09-10 00:00:00, 2016-11-20 00:00:00, 201...","[2021-01-10 00:00:00, 2017-10-06 00:00:00, 201...","[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...",[Mobile operator loan],[66000],[2020-08-14 00:00:00],...,0,0.000,235800.000,73949.625,0.0,0.0,0.0,66000.0,66000.0,66000.000000
4,AAA31604840,"[Consumer credit, Consumer credit, Consumer cr...","[687150.0, 41845.5, 468000.0, 304965.0, 90000.0]","[0.0, 0.0, 0.0, 0.0, 0.0]","[2020-10-10 00:00:00, 2017-02-15 00:00:00, 201...","[2020-12-10 00:00:00, 2018-02-28 00:00:00, 202...","[[0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],...","[Consumer credit, Loan for purchase of shares ...","[179000, 195000, 127000, 16000, 195000, 190000...","[2018-08-25 00:00:00, 2019-01-21 00:00:00, 202...",...,1,41845.500,687150.000,318392.100,0.0,0.0,0.0,10000.0,195000.0,96105.263158

In [287]:
combined_data.shape, combined_data_t.shape

((223917, 53), (39572, 52))

In [288]:
def nested_min_max_avg(list_of_lists):
	flattened = [item for sublist in list_of_lists for item in sublist]
	if(len(flattened) == 0):
		return 0,0,0
	return min(flattened), max(flattened), sum(flattened) / len(flattened)

df = combined_data.iloc[0:5]
df['payment_hist_string'].apply(nested_min_max_avg)

0    (0, 44, 2.0606060606060606)
1                    (0, 0, 0.0)
2                    (0, 0, 0.0)
3    (0, 917, 95.87417218543047)
4                    (0, 0, 0.0)
Name: payment_hist_string, dtype: object

In [289]:
combined_data[['delay_min', 'delay_max', 'delay_avg']] = combined_data['payment_hist_string'].apply(nested_min_max_avg).apply(pd.Series)
combined_data_t[['delay_min', 'delay_max', 'delay_avg']] = combined_data_t['payment_hist_string'].apply(nested_min_max_avg).apply(pd.Series)

combined_data.head()

,uid,credit_type,loan_amount,amount_overdue,open_date,closed_date,payment_hist_string,enquiry_type,enquiry_amt,enquiry_date,...,loan_avg,due_min,due_max,due_avg,enq_min,enq_max,enq_avg,delay_min,delay_max,delay_avg
0,AAA09044550,"[Consumer credit, Consumer credit]","[272745.0, 4500.0]","[0.0, 0.0]","[2018-09-22 00:00:00, 2018-03-08 00:00:00]","[2020-02-22 00:00:00, 2019-07-25 00:00:00]","[[0, 0, 0, 0, 0, 0, 0, 10, 0, 0, 0, 0, 0, 0, 0...","[Cash loans, Interbank credit, Car loan, Revol...","[120000, 197000, 127000, 94000, 120000, 174000...","[2019-08-19 00:00:00, 2019-11-01 00:00:00, 202...",...,138622.500,0.0,0.0,0.0,5000.0,197000.0,102269.230769,0.0,44.0,2.060606
1,AAA10545297,[Credit card],[80996.445],[0.0],[2020-06-29 00:00:00],[2020-12-29 00:00:00],"[[0, 0, 0, 0, 0, 0]]","[Revolving loans, Consumer credit, Interbank c...","[94000, 192000, 24000, 5000, 58000, 65000, 900...","[2019-04-22 00:00:00, 2020-01-04 00:00:00, 202...",...,80996.445,0.0,0.0,0.0,5000.0,192000.0,94071.428571,0.0,0.0,0.000000
2,AAA14112888,[Consumer credit],[43771.5],[0.0],[2020-06-09 00:00:00],[2020-09-09 00:00:00],"[[0, 0, 0]]","[Loan for purchase of shares (margin lending),...","[39000, 110000, 62000, 171000, 185000, 45000, ...","[2019-11-09 00:00:00, 2020-04-03 00:00:00, 202...",...,43771.500,0.0,0.0,0.0,17000.0,185000.0,97666.666667,0.0,0.0,0.000000
3,AAA20326915,"[Credit card, Consumer credit, Credit card, Co...","[10480.5, 46696.5, 0.0, 117000.0, 90000.0, 235...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]","[2014-09-10 00:00:00, 2016-11-20 00:00:00, 201...","[2021-01-10 00:00:00, 2017-10-06 00:00:00, 201...","[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...",[Mobile operator loan],[66000],[2020-08-14 00:00:00],...,73949.625,0.0,0.0,0.0,66000.0,66000.0,66000.000000,0.0,917.0,95.874172
4,AAA31604840,"[Consumer credit, Consumer credit, Consumer cr...","[687150.0, 41845.5, 468000.0, 304965.0, 90000.0]","[0.0, 0.0, 0.0, 0.0, 0.0]","[2020-10-10 00:00:00, 2017-02-15 00:00:00, 201...","[2020-12-10 00:00:00, 2018-02-28 00:00:00, 202...","[[0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],...","[Consumer credit, Loan for purchase of shares ...","[179000, 195000, 127000, 16000, 195000, 190000...","[2018-08-25 00:00:00, 2019-01-21 00:00:00, 202...",...,318392.100,0.0,0.0,0.0,10000.0,195000.0,96105.263158,0.0,0.0,0.000000

In [290]:
combined_data['is_loan_active'] = combined_data['due_avg'].apply(lambda x: 1 if x>0 else 0)
combined_data_t['is_loan_active'] = combined_data_t['due_avg'].apply(lambda x: 1 if x>0 else 0)

In [293]:
combined_data.columns #, combined_data_t.columns

Index(['uid', 'credit_type', 'loan_amount', 'amount_overdue', 'open_date',
       'closed_date', 'payment_hist_string', 'enquiry_type', 'enquiry_amt',
       'enquiry_date', 'NAME_CONTRACT_TYPE', 'TARGET',
       'c_Another type of loan', 'c_Car loan', 'c_Cash loan (non-earmarked)',
       'c_Consumer credit', 'c_Credit card', 'c_Interbank credit',
       'c_Loan for business development',
       'c_Loan for purchase of shares (margin lending)',
       'c_Loan for the purchase of equipment',
       'c_Loan for working capital replenishment', 'c_Microloan',
       'c_Mobile operator loan', 'c_Mortgage', 'c_Real estate loan',
       'c_Unknown type of loan', 'e_Another type of loan', 'e_Car loan',
       'e_Cash loan (non-earmarked)', 'e_Cash loans', 'e_Consumer credit',
       'e_Credit card', 'e_Interbank credit',
       'e_Loan for business development',
       'e_Loan for purchase of shares (margin lending)',
       'e_Loan for the purchase of equipment',
       'e_Loan for working capital replenishment', 'e_Microloan',
       'e_Mobile operator loan', 'e_Mortgage', 'e_Real estate loan',
       'e_Revolving loans', 'e_Unknown type of loan', 'loan_min', 'loan_max',
       'loan_avg', 'due_min', 'due_max', 'due_avg', 'enq_min', 'enq_max',
       'enq_avg', 'delay_min', 'delay_max', 'delay_avg', 'is_loan_active'],
      dtype='object')

<h3>Date Based Features</h3>

In [294]:
combined_data.head()

,uid,credit_type,loan_amount,amount_overdue,open_date,closed_date,payment_hist_string,enquiry_type,enquiry_amt,enquiry_date,...,due_min,due_max,due_avg,enq_min,enq_max,enq_avg,delay_min,delay_max,delay_avg,is_loan_active
0,AAA09044550,"[Consumer credit, Consumer credit]","[272745.0, 4500.0]","[0.0, 0.0]","[2018-09-22 00:00:00, 2018-03-08 00:00:00]","[2020-02-22 00:00:00, 2019-07-25 00:00:00]","[[0, 0, 0, 0, 0, 0, 0, 10, 0, 0, 0, 0, 0, 0, 0...","[Cash loans, Interbank credit, Car loan, Revol...","[120000, 197000, 127000, 94000, 120000, 174000...","[2019-08-19 00:00:00, 2019-11-01 00:00:00, 202...",...,0.0,0.0,0.0,5000.0,197000.0,102269.230769,0.0,44.0,2.060606,0
1,AAA10545297,[Credit card],[80996.445],[0.0],[2020-06-29 00:00:00],[2020-12-29 00:00:00],"[[0, 0, 0, 0, 0, 0]]","[Revolving loans, Consumer credit, Interbank c...","[94000, 192000, 24000, 5000, 58000, 65000, 900...","[2019-04-22 00:00:00, 2020-01-04 00:00:00, 202...",...,0.0,0.0,0.0,5000.0,192000.0,94071.428571,0.0,0.0,0.000000,0
2,AAA14112888,[Consumer credit],[43771.5],[0.0],[2020-06-09 00:00:00],[2020-09-09 00:00:00],"[[0, 0, 0]]","[Loan for purchase of shares (margin lending),...","[39000, 110000, 62000, 171000, 185000, 45000, ...","[2019-11-09 00:00:00, 2020-04-03 00:00:00, 202...",...,0.0,0.0,0.0,17000.0,185000.0,97666.666667,0.0,0.0,0.000000,0
3,AAA20326915,"[Credit card, Consumer credit, Credit card, Co...","[10480.5, 46696.5, 0.0, 117000.0, 90000.0, 235...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]","[2014-09-10 00:00:00, 2016-11-20 00:00:00, 201...","[2021-01-10 00:00:00, 2017-10-06 00:00:00, 201...","[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...",[Mobile operator loan],[66000],[2020-08-14 00:00:00],...,0.0,0.0,0.0,66000.0,66000.0,66000.000000,0.0,917.0,95.874172,0
4,AAA31604840,"[Consumer credit, Consumer credit, Consumer cr...","[687150.0, 41845.5, 468000.0, 304965.0, 90000.0]","[0.0, 0.0, 0.0, 0.0, 0.0]","[2020-10-10 00:00:00, 2017-02-15 00:00:00, 201...","[2020-12-10 00:00:00, 2018-02-28 00:00:00, 202...","[[0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],...","[Consumer credit, Loan for purchase of shares ...","[179000, 195000, 127000, 16000, 195000, 190000...","[2018-08-25 00:00:00, 2019-01-21 00:00:00, 202...",...,0.0,0.0,0.0,10000.0,195000.0,96105.263158,0.0,0.0,0.000000,0

In [297]:
combined_data.shape, combined_data_t.shape

((223917, 57), (39572, 56))

<h1><b>MODEL BUILDING STAGE</b></h1>

In [298]:
numerical_cols = ['loan_min', 'loan_max', \
       'loan_avg', 'due_min', 'due_max', 'due_avg', 'enq_min', 'enq_max', \
       'enq_avg', 'delay_min', 'delay_max', 'delay_avg']

binarized_cols = ['c_Another type of loan', 'c_Car loan', 'c_Cash loan (non-earmarked)', \
       'c_Consumer credit', 'c_Credit card', 'c_Interbank credit', \
       'c_Loan for business development', \
       'c_Loan for purchase of shares (margin lending)', \
       'c_Loan for the purchase of equipment', \
       'c_Loan for working capital replenishment', 'c_Microloan', \
       'c_Mobile operator loan', 'c_Mortgage', 'c_Real estate loan', \
       'c_Unknown type of loan', 'e_Another type of loan', 'e_Car loan', \
       'e_Cash loan (non-earmarked)', 'e_Cash loans', 'e_Consumer credit', \
       'e_Credit card', 'e_Interbank credit', \
       'e_Loan for business development', \
       'e_Loan for purchase of shares (margin lending)', \
       'e_Loan for the purchase of equipment', \
       'e_Loan for working capital replenishment', 'e_Microloan', \
       'e_Mobile operator loan', 'e_Mortgage', 'e_Real estate loan', \
       'e_Revolving loans', 'e_Unknown type of loan', 'is_loan_active']

date_cols = []

In [ ]:
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestClassifier
from xgboost import XGBClassifier
from sklearn.metrics import roc_auc_score, f1_score, accuracy_score, classification_report, confusion_matrix

In [300]:
# Normalize the numerical values

model_data = combined_data.copy()
test_data = combined_data_t.copy()
std = StandardScaler()
model_data[numerical_cols] = std.fit_transform(model_data[numerical_cols])
test_data[numerical_cols] = std.transform(test_data[numerical_cols])
model_data.head()

,uid,credit_type,loan_amount,amount_overdue,open_date,closed_date,payment_hist_string,enquiry_type,enquiry_amt,enquiry_date,...,due_min,due_max,due_avg,enq_min,enq_max,enq_avg,delay_min,delay_max,delay_avg,is_loan_active
0,AAA09044550,"[Consumer credit, Consumer credit]","[272745.0, 4500.0]","[0.0, 0.0]","[2018-09-22 00:00:00, 2018-03-08 00:00:00]","[2020-02-22 00:00:00, 2019-07-25 00:00:00]","[[0, 0, 0, 0, 0, 0, 0, 10, 0, 0, 0, 0, 0, 0, 0...","[Cash loans, Interbank credit, Car loan, Revol...","[120000, 197000, 127000, 94000, 120000, 174000...","[2019-08-19 00:00:00, 2019-11-01 00:00:00, 202...",...,-0.003353,-0.012865,-0.009577,-0.799065,0.217497,-0.225919,-0.005931,0.096337,0.033072,0
1,AAA10545297,[Credit card],[80996.445],[0.0],[2020-06-29 00:00:00],[2020-12-29 00:00:00],"[[0, 0, 0, 0, 0, 0]]","[Revolving loans, Consumer credit, Interbank c...","[94000, 192000, 24000, 5000, 58000, 65000, 900...","[2019-04-22 00:00:00, 2020-01-04 00:00:00, 202...",...,-0.003353,-0.012865,-0.009577,-0.799065,0.161837,-0.361493,-0.005931,-0.356585,-0.167722,0
2,AAA14112888,[Consumer credit],[43771.5],[0.0],[2020-06-09 00:00:00],[2020-09-09 00:00:00],"[[0, 0, 0]]","[Loan for purchase of shares (margin lending),...","[39000, 110000, 62000, 171000, 185000, 45000, ...","[2019-11-09 00:00:00, 2020-04-03 00:00:00, 202...",...,-0.003353,-0.012865,-0.009577,-0.605173,0.083913,-0.302035,-0.005931,-0.356585,-0.167722,0
3,AAA20326915,"[Credit card, Consumer credit, Credit card, Co...","[10480.5, 46696.5, 0.0, 117000.0, 90000.0, 235...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]","[2014-09-10 00:00:00, 2016-11-20 00:00:00, 201...","[2021-01-10 00:00:00, 2017-10-06 00:00:00, 201...","[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...",[Mobile operator loan],[66000],[2020-08-14 00:00:00],...,-0.003353,-0.012865,-0.009577,0.186554,-1.240796,-0.825734,-0.005931,9.082723,9.174664,0
4,AAA31604840,"[Consumer credit, Consumer credit, Consumer cr...","[687150.0, 41845.5, 468000.0, 304965.0, 90000.0]","[0.0, 0.0, 0.0, 0.0, 0.0]","[2020-10-10 00:00:00, 2017-02-15 00:00:00, 201...","[2020-12-10 00:00:00, 2018-02-28 00:00:00, 202...","[[0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],...","[Consumer credit, Loan for purchase of shares ...","[179000, 195000, 127000, 16000, 195000, 190000...","[2018-08-25 00:00:00, 2019-01-21 00:00:00, 202...",...,-0.003353,-0.012865,-0.009577,-0.718277,0.195233,-0.327858,-0.005931,-0.356585,-0.167722,0

In [302]:
model_data['TARGET'].value_counts()

TARGET
0    206660
1     17257
Name: count, dtype: int64

In [197]:
#  resampling before split -> might've lead to data leakage

# df_major = model_data[model_data['TARGET'] == 0]
# df_minor = model_data[model_data['TARGET'] == 1]

# # Resample minor class
# df_minor_upsampled = df_minor.sample(n=len(df_major), replace=True, random_state=42)

# # Combine
# df_resampled = pd.concat([df_major, df_minor_upsampled])

# # Shuffle
# df_resampled = df_resampled.sample(frac=1, random_state=42).reset_index(drop=True)

# model_data = df_resampled.copy()

In [198]:
model_data['TARGET'].value_counts()

TARGET
0    206660
1     17257
Name: count, dtype: int64

In [304]:
X = model_data[numerical_cols+binarized_cols]
y = model_data['TARGET']
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.2, stratify=y, random_state=42)

In [305]:
train_df = pd.concat([X_train, y_train], axis=1)
train_majority = train_df[train_df['TARGET'] == 0]
train_minority = train_df[train_df['TARGET'] == 1]

# Resample Minor class
train_minority_upsampled = train_minority.sample(n=len(train_majority), replace=True, random_state=42)

# Resample both class
# train_minority_upsampled = train_minority.sample(n=len(train_majority)//4, replace=True, random_state=42)
# train_majority_downsampled = train_majority.sample(n=len(train_majority)//4, replace=True, random_state=42)

# Combine
# train_resampled = pd.concat([train_majority_downsampled, train_minority_upsampled])
train_resampled = pd.concat([train_majority, train_minority_upsampled])

# shuffle
train_resampled = train_resampled.sample(frac=1, random_state=42).reset_index(drop=True)

In [306]:
X_train = train_resampled.drop(columns='TARGET')
y_train = train_resampled['TARGET']

In [307]:
X_train.head()

,loan_min,loan_max,loan_avg,due_min,due_max,due_avg,enq_min,enq_max,enq_avg,delay_min,...,e_Loan for purchase of shares (margin lending),e_Loan for the purchase of equipment,e_Loan for working capital replenishment,e_Microloan,e_Mobile operator loan,e_Mortgage,e_Real estate loan,e_Revolving loans,e_Unknown type of loan,is_loan_active
0,-0.161813,-0.306728,-0.245396,-0.003353,-0.012865,-0.009577,-0.688094,2.875554,0.409291,-0.005931,...,0,1,0,1,0,1,0,1,0,0
1,0.034003,-0.390539,-0.259864,-0.003353,-0.012865,-0.009577,-0.540542,-0.773252,-0.850540,-0.005931,...,0,0,0,0,0,1,0,0,0,0
2,-0.183436,-0.400056,-0.349301,-0.003353,-0.012865,-0.009577,-0.007339,-1.374380,-1.024188,-0.005931,...,0,0,0,0,0,0,0,1,0,0
3,-0.080707,-0.188749,-0.061575,-0.003353,-0.012865,-0.009577,-0.524384,0.072781,-0.281822,-0.005931,...,0,0,0,0,1,0,1,0,0,0
4,-0.178895,-0.107069,-0.187920,-0.003353,-0.012865,-0.009577,-0.621330,0.228629,-0.142594,-0.005931,...,0,0,1,1,0,1,0,1,1,0

In [308]:
y_train.value_counts()

TARGET
0    165327
1    165327
Name: count, dtype: int64

In [309]:
assert X_train.shape[1] == len(numerical_cols)+len(binarized_cols), 'Check attribute/features in df and train_array'

In [310]:
rf_model = RandomForestClassifier(n_estimators=100, random_state=42)
rf_model.fit(X_train, y_train)

y_pred = rf_model.predict(X_val)

In [311]:
roc_auc_score(y_val, y_pred), f1_score(y_val, y_pred)

(np.float64(0.5006625587405479), 0.005672149744753261)

In [315]:
y_pred_prob = rf_model.predict_proba(X_val)
np.mean(y_pred_prob), np.median(y_pred_prob) # , np.unique(y_pred, return_counts=True)

(np.float64(0.5), np.float64(0.5))

In [343]:
accuracy = accuracy_score(y_val, y_pred)
print(f'Accuracy: {accuracy * 100:.2f}%')

print("Classification Report")
print(classification_report(y_val, y_pred))

print("Confusion Matrix")
print(confusion_matrix(y_val, y_pred))

Accuracy: 92.17%
Classification Report
              precision    recall  f1-score   support

           0       0.92      1.00      0.96     41333
           1       0.13      0.00      0.01      3451

    accuracy                           0.92     44784
   macro avg       0.53      0.50      0.48     44784
weighted avg       0.86      0.92      0.89     44784

Confusion Matrix
[[41268    65]
 [ 3441    10]]

In [317]:
z = np.unique(y_pred_prob, return_counts=True)
ind_min, ind_max = np.argmax(z), np.argmin(z)
y_pred_prob[ind_min], y_pred_prob[ind_max]

(array([0.88, 0.12]), array([0.83, 0.17]))

In [318]:
importances = pd.Series(rf_model.feature_importances_, index=X_train.columns).sort_values(ascending=False)
importances.head(10)

loan_avg                  0.115224
enq_avg                   0.111240
loan_max                  0.108820
enq_max                   0.101690
enq_min                   0.100014
loan_min                  0.098545
delay_avg                 0.042963
delay_max                 0.040434
e_Mortgage                0.015195
e_Mobile operator loan    0.015043
dtype: float64

In [344]:
param_grid = {
    'max_depth': [3, 5],
    'learning_rate': [0.01, 0.1],
    'n_estimators': [100, 200],
    'subsample': [0.8, 1.0]
}

In [ ]:
# xgbc = XGBClassifier(max_depth=5, min_child_weight=2, subsample=0.8, eval_metric='auc', booster='gbtree')
# xgbc.fit(X_train, y_train)

XGBClassifier(base_score=None, booster='gbtree', callbacks=None,
              colsample_bylevel=None, colsample_bynode=None,
              colsample_bytree=None, device=None, early_stopping_rounds=None,
              enable_categorical=False, eval_metric='auc', feature_types=None,
              feature_weights=None, gamma=None, grow_policy=None,
              importance_type=None, interaction_constraints=None,
              learning_rate=None, max_bin=None, max_cat_threshold=None,
              max_cat_to_onehot=None, max_delta_step=None, max_depth=5,
              max_leaves=None, min_child_weight=2, missing=nan,
              monotone_constraints=None, multi_strategy=None, n_estimators=None,
              n_jobs=None, num_parallel_tree=None, ...)

In [346]:
xgbc = XGBClassifier(eval_metric='auc', booster='gbtree')
grid_search = GridSearchCV(estimator=xgbc,
							param_grid=param_grid,
							scoring='roc_auc',
							cv=5,
							verbose=1,
							n_jobs=-1)
grid_search.fit(X_train, y_train)

Fitting 5 folds for each of 16 candidates, totalling 80 fits

GridSearchCV(cv=5,
             estimator=XGBClassifier(base_score=None, booster='gbtree',
                                     callbacks=None, colsample_bylevel=None,
                                     colsample_bynode=None,
                                     colsample_bytree=None, device=None,
                                     early_stopping_rounds=None,
                                     enable_categorical=False,
                                     eval_metric='auc', feature_types=None,
                                     feature_weights=None, gamma=None,
                                     grow_policy=None, importance_type=None,
                                     interaction_constraint...
                                     max_cat_to_onehot=None,
                                     max_delta_step=None, max_depth=None,
                                     max_leaves=None, min_child_weight=None,
                                     missing=nan, monotone_constraints=None,
                                     multi_strategy=None, n_estimators=None,
                                     n_jobs=None, num_parallel_tree=None, ...),
             n_jobs=-1,
             param_grid={'learning_rate': [0.01, 0.1], 'max_depth': [3, 5],
                         'n_estimators': [100, 200], 'subsample': [0.8, 1.0]},
             scoring='roc_auc', verbose=1)

In [347]:
grid_search.best_params_, grid_search.best_score_

({'learning_rate': 0.1, 'max_depth': 5, 'n_estimators': 200, 'subsample': 0.8},
 np.float64(0.698178514766179))

In [352]:
best_xgbc = grid_search.best_estimator_

y_pred_xg = best_xgbc.predict(X_val)

roc_auc_score(y_pred_xg, y_val)

np.float64(0.5147904734808589)

In [358]:
importances = pd.Series(best_xgbc.feature_importances_, index=X_train.columns).sort_values(ascending=False)
importances.head(10)

c_Microloan      0.215869
due_avg          0.041347
c_Car loan       0.039772
c_Mortgage       0.035836
c_Credit card    0.034471
loan_avg         0.026216
enq_max          0.024525
due_max          0.022686
e_Credit card    0.022003
loan_min         0.021742
dtype: float32

In [353]:
print(classification_report(y_pred_xg, y_val))

print(confusion_matrix(y_pred_xg, y_val))

              precision    recall  f1-score   support

           0       0.63      0.93      0.75     27653
           1       0.47      0.10      0.16     17131

    accuracy                           0.61     44784
   macro avg       0.55      0.51      0.45     44784
weighted avg       0.57      0.61      0.52     44784

[[25835  1818]
 [15498  1633]]

In [354]:
final_test_data = combined_data_t[numerical_cols+binarized_cols]
final_ops = best_xgbc.predict(final_test_data)

In [355]:
op_df = pd.DataFrame({
	'uid': combined_data_t['uid'],
	'pred': pd.Series(final_ops)
})

op_df.head()

           uid  pred
0  AAA14437029     0
1  AAB12915377     0
2  AAB55088883     0
3  AAB68152393     0
4  AAC29580834     0

In [356]:
op_df[op_df['pred'] == 1]

               uid  pred
67     ABB71840322     1
189    ADI10998799     1
474    AII19324278     1
585    AKP08153979     1
688    AMN18342689     1
...            ...   ...
38480  ZHH55569357     1
38631  ZJR86419143     1
39155  ZSR93270777     1
39180  ZTF29878727     1
39315  ZVG54103783     1

[134 rows x 2 columns]

In [357]:
op_df.to_csv('data/final_submission/submission.csv', index=False)

<p>More experiemental features and functions to be added if possible [TODO]
	<ul> 
		<li>Domain Knowledge for better preprocessing steps
		<li>Additional statistical values for numerical columns - variance, std dev, running average, quantiles, IQR
		<li>Datetime based features - Year, Month, Quarter, Day, Day of Week, isWeekend
		<li>Better resampling for bias reduction
	</ul>
</p>